.port {
  stroke: #0d0e17;
  fill: #3e405a;
  stroke-width: 2px;
  shape-rendering: geometricPrecision;
  pointer-events: none;
}

.clicker {
  opacity: 0;

  &:not(.disabled) {
    cursor: crosshair;
  }
}
