.edge {
  &.disabled {
    pointer-events: none;
  }

  &:not(.selectionDisabled):not(.disabled) {
    &:hover {
      .path {
        marker-end: url(#end-arrow-hover);
        stroke: #a5a9e2;

        &.active {
          marker-end: url(#end-arrow-hover-active);
          stroke: #46fecb;
        }

        &.deleteHovered {
          marker-end: url(#end-arrow-hover-delete);
          stroke: #ff005d;
          stroke-dasharray: 4 2;
        }
      }
    }

    .clicker {
      cursor: pointer;
    }
  }
}

.path {
  fill: transparent;
  marker-end: url(#end-arrow);
  stroke: #485a74;
  pointer-events: none;
  shape-rendering: geometricPrecision;
  stroke-width: 1pt;
}

.clicker {
  fill: none;
  stroke: transparent;
  stroke-width: 15px;

  &:focus {
    outline: none;
  }
}
