.edge {
  &.disabled {
    pointer-events: none;
  }

  &:not(.disabled) {
    &:not(.selectionDisabled) {
      &:hover {
        .path {
          stroke: #a5a9e2;
        }
      }
    }
  }

  &:not(.selectionDisabled) {
    .clicker {
      cursor: pointer;
    }
  }

  .path {
    fill: transparent;
    stroke: #485a74;
    pointer-events: none;
    shape-rendering: geometricPrecision;
    stroke-width: 1pt;

    &.active {
      stroke: #46fecb !important;
    }

    &.deleteHovered {
      stroke: #ff005d !important;
      stroke-dasharray: 4 2;
    }
  }

  .clicker {
    fill: none;
    stroke: transparent;
    stroke-width: 15px;

    &:focus {
      outline: none;
    }
  }
}
