.edge {
  &:focus {
    outline: none;
  }

  &.disabled {
    pointer-events: none;
  }

  &:not(.disabled) {
    &:hover {
      .path {
        stroke: #a5a9e2;
      }
    }
  }
}

.path {
  fill: none;
  stroke: #485a74;
  pointer-events: none;

  &.active {
    stroke: #46FECB;
  }
}

.clicker {
  fill: none;
  stroke: transparent;
  cursor: pointer;
  stroke-width: 15px;

  &.disabled {
    pointer-events: none;
  }
}
