.edge {
  &.disabled {
    pointer-events: none;
  }

  &:not(.selectionDisabled):not(.disabled) {
    &:hover {
      .path {
        stroke: #a5a9e2;

        &.active {
          stroke: #46fecb;
        }

        &.deleteHovered {
          stroke: #ff005d;
          stroke-dasharray: 4 2;
        }
      }
    }

    .clicker {
      cursor: pointer;
    }
  }

  .path {
    fill: transparent;
    stroke: #485a74;
    pointer-events: none;
    shape-rendering: geometricPrecision;
    stroke-width: 1pt;
  }

  .clicker {
    fill: none;
    stroke: transparent;
    stroke-width: 15px;

    &:focus {
      outline: none;
    }
  }
}
