.rect {
  fill: #2b2c3e;
  stroke: transparent;
  transition: stroke 100ms ease-in-out;
  stroke: #475872;
  shape-rendering: geometricPrecision;
  stroke-width: 1pt;

  &:focus {
    outline: none;
  }

  &.children {
    fill: transparent;
    stroke: #475872;
  }

  &:not(.disabled) {
    &:not(.selectionDisabled) {
      cursor: pointer;

      &:hover {
        stroke: #a5a9e2;
      }
    }

    &.dragging {
      stroke: #a5a9e2;
    }

    &.active {
      stroke: #46fecb;
    }

    &.unlinkable {
      stroke: #ff005d;
    }

    &.deleteHovered {
      stroke: #ff005d;
      stroke-dasharray: 4 2;
    }
  }
}
