.container {
  &:focus {
    outline: none;
  }
}

.rect {
  fill: #12131e;
  stroke: transparent;
  transition: stroke 100ms ease-in-out;

  &:not(.disabled) {
    cursor: pointer;

    &.dragging,
    &:hover {
      stroke: #3e405a;
    }

    &.active {
      stroke: #46fecb;
    }

    &.unlinkable {
      stroke: #ff005d;
    }
  }
}
