.container {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.rect {
  fill: #12131e;
  stroke: transparent;
  transition: stroke 100ms ease-in-out;

  &:hover {
    stroke: #3E405A;
  }

  &.active {
    stroke: #46FECB;
  }
}
