.container {
  &:focus {
    outline: none;
  }
}

.rect {
  fill: #2b2c3e;
  stroke: transparent;
  transition: stroke 100ms ease-in-out;
  stroke: #475872;

  &.children {
    fill: transparent;
    stroke: #475872;
  }

  &:not(.disabled) {
    cursor: pointer;

    &.dragging,
    &:hover {
      stroke: #a5a9e2;
    }

    &.active {
      stroke: #46fecb;
    }

    &.unlinkable {
      stroke: #ff005d;
    }

    &.deleteHovered {
      stroke: #ff005d;
      stroke-dasharray: 4 2;
    }
  }
}
