.arrow {
  pointer-events: none;
  shape-rendering: geometricPrecision;
  fill: #485a74;
}

.arrowHover {
  fill: #a5a9e2;
}

.arrowHoverActive {
  fill: #46fecb;
}

.arrowHoverDelete {
  fill: #ff005d;
}
