.container {
  position: relative;

  &.pannable {
    overflow: auto;
  }

  .background {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-repeating-radial-gradient(top center,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 100%);
    background-size: 20px 20px;
    z-index: -1;
  }

  &:focus {
    outline: none;
  }
}

:global(.dragging) {
  cursor: crosshair;
  -webkit-touch-callout: none;
  user-select: none;
}
